@use "./variables" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", serif;

  @media (max-width: 50em) { // 800
    font-size: 56.25%;
  }
}

body {
  font-family: "Roboto", serif;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  display: block;
}
