// WHITE
$color-white: #fff;
$color-white-80: rgb(255, 255, 255, 0.8);
$color-white-16: rgb(255, 255, 255, 0.16);
$color-white-8: rgb(255, 255, 255, 0.08);

// GRAY
$color-grey-light: #f5f7fb;
$color-grey-dark: #212121;
$color-grey-dark-80: rgb(33, 33, 33, 0.8);
$color-grey-dark-60: rgb(33, 33, 33, 0.6);
$color-grey-dark-24: rgb(33, 33, 33, 0.24);
$color-grey-dark-16: rgb(33, 33, 33, 0.16);
$color-grey-dark-8: rgb(33, 33, 33, 0.08);

// BLUE
$color-blue: #c9d2ea;
$color-dark-blue: #416edf;
$color-dark-blue-60: rgb(65, 110, 223, 0.6);

// yellow
$color-yellow: #ffce31;

// Fire
$color-fire-tag: #ff6464;
$color-fire-background: #eb6c6c;

// Bug
$color-bug-tag: #c9ff84;
$color-bug-background: #91ac22;

// Water
$color-water-tag: #9ff3ff;
$color-water-background: #009acb;

// Flying
$color-flying-tag: #cbe9ff;
$color-flying-background: #2299ee;

// Poison
$color-poison-tag: #d89cfd;
$color-poison-background: #7e00cb;

// Normal
$color-normal-tag: #cbcbcb;
$color-normal-background: #b6b6b6;

// Rock
$color-rock-tag: #cfc06f;
$color-rock-background: #857d57;

// Ground
$color-ground-tag: #fffb72;
$color-ground-background: #a77437;

// Fighting
$color-fighting-tag: #ff699f;
$color-fighting-background: #ba114e;

// Ghost
$color-ghost-tag: #b592ff;
$color-ghost-background: #6b2bf1;

// Psychic
$color-psychic-tag: #ff5e60;
$color-psychic-background: #c4484a;

// Ice
$color-ice-tag: #aefff4;
$color-ice-background: #3a9d90;

// Dragon
$color-dragon-tag: #87c5ff;
$color-dragon-background: #1268b8;

// Dark
$color-dark-tag: #8f8f8f;
$color-dark-background: #373737;

// Fairy
$color-fairy-tag: #ffa2e3;
$color-fairy-background: #c01a8d;

// Electric
$color-electric-tag: #fffa86;
$color-electric-background: #b7b117;

// Steel
$color-steel-tag: #a4ffe9;
$color-steel-background: #448f85;

// Grass
$color-grass-tag: #80e177;
$color-grass-background: #1eba11;

// _variables.scss
$font-size-heading-l: 48px;
$font-size-heading-m: 28px;
$font-size-heading-s: 18px;
$font-size-body: 20px;
$font-size-body-2: 16px;
$font-size-subtext: 16px;
$font-size-subtext-2: 14px;
$font-size-button: 16px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
