@use "../../styles/variables" as *;

.base--stats {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & div {
    display: grid;
    grid-template-columns: 0.25fr 0.1fr 1fr;
    align-items: center;

    @media (max-width: 60.9em) { // 975
      grid-template-columns: 0.5fr 0.1fr 1fr;
    }

    @media (max-width: 30.31em) { // 485
      gap: 0.5rem;
    }
  }
}
