@use "../../styles/variables" as *;

.header {
  margin-bottom: 3rem;
  color: $color-dark-blue;

  &__logo {
    width: 20rem;
    height: 100%;
    margin-bottom: 2rem;
  }

  &__input_container {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 1.25rem;
    padding-left: 4rem;
    border-radius: 0.7rem;
    color: inherit;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0 1rem 4rem $color-grey-dark-8;
    transition: all 0.3s;

    &::placeholder {
      color: inherit;
      margin-left: -5rem;
    }

    &:focus {
      outline: none;
      border: 1px solid $color-dark-blue-60;
      box-shadow: 0 1rem 4rem $color-grey-dark-16;
    }
  }

  &__icon_container {
    width: 32px;
    height: 32px;
    mask: url("../../assets/images/search.svg") no-repeat center;
    -webkit-mask: url("../../assets/images/search.svg") no-repeat center;
    background-color: $color-dark-blue;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1;
  }

  &__search {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
