@use "./styles/variables" as *;

.container {
  max-width: 120rem;
  margin-inline: auto;
  background-color: $color-grey-light;
  transition: background-color 0.3s ease;
  padding: 3rem;
  position: relative;
  z-index: 1;
}

// .container.filter-active {
//   background-color: lightgray;
// }
